@tailwind base;
@tailwind components;
@tailwind utilities;



.bannerPic{
    background-image: url("./assets/skill_icon/banner1.avif");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }